[Desktop Entry]
Type=Application
Name=My conky 
Exec=sh -c "sleep 5 && conky -c  /home/xq/.conky/mx
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
