[Desktop Entry]
Type=Application
Name=My conky 
Exec=conky -p 10 -c  /home/xq/.conky/mx 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-AutoRestart=true
Comment=Start Conky on login
